<phpunit bootstrap="vendor/autoload.php"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         disallowChangesToGlobalState="true"
         verbose="true">
    <php>
        <ini name="display_errors" value="1" />
    </php>
    <testsuites>
        <testsuite name="webpt/zend-couchbase-module">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener" />
    </listeners>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
